<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/homepage.css">
    <title>Welcome to TicketVerse!</title>
</head>
<body>
<!-----------------------------------------------------  HEADER ----------------------------------------------------->
    <header>
        <div class="logo">
            <a href="index.html"><img class="logo-img" src="./pics/final-logo.png" alt="logo"></a>
            <div class="logo-text">
                 <h1>TicketVerse</h1>
                 <p class="logo-phrase">You're one click away!</p>
            </div>
        </div>
        <nav>
            <ul>
                <a href="#"><button class="btn">Home</button></a>
                <a href="#"><button class="btn">About</button></a>
                <a href="#"><button class="btn">Services</button></a>
                <a href="#"><button class="btn">Contact Us</button></a>
            </ul>
        </nav>
        <div class="signup">
            <button class="signUp-btn">Sign Up</button>
        </div>
    </header>
<!--------------------------------------------------  CONTENT / BODY  ------------------------------------------------->
    <div class="content">
        
    </div>
<!-----------------------------------------------------  FOOTER  ----------------------------------------------------->
    <footer>
        <div class="footer-box">
            
        </div>
        <div class="end">

        </div>
    </footer>
</body>
</html>